{#include file="sys/crm_header.htm"#}
<script type="text/javascript">
$(document).ready(function()
{
	//点击批量取消	
	$("#ButDel").click(function(){
		
		if (confirm('你确定要删除吗？'))
		{
			$("form[name=form1]").submit()
		}
	});
		
});
</script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="mycontacts/crm_contacts_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="seltpye_y">
	
    <div class="list">
	  <div class="t">我的联系人分组</div>	  
	  <div class="txt link_lan">
	  <a href="{#"group_id:"|qishi_parse_url#}" {#if $smarty.get.group_id==""#}class="select"{#/if#}>不限</a>
	  {#foreach  from=$group item=l#}
			  <a href="{#"group_id:"|cat:$l.id|qishi_parse_url#}" {#if $smarty.get.group_id==$l.id#}class="select"{#/if#}>{#$l.group_name#}</a>
			  {#/foreach#}
	  </div>
    </div>
	
	
	<div class="clear"></div>
</div>
  <form id="form1" name="form1" method="post" action="?act=contacts_del">
  {#$inputtoken#}
  <table width="100%" border="0" cellpadding="0" cellspacing="0"  id="list" class="link_lan">
    <tr>
      <td width="40%" class="admin_list_tit admin_list_first">
      <label id="chkAll"><input type="checkbox" name="chkAll"  id="chk" title="全选/反选" />姓名</label></td>
      <td class="admin_list_tit"> 电话 </td>
	   <td class="admin_list_tit"> email </td>
	    <td class="admin_list_tit"> 分组 </td>

      <td width="180" align="center"  class="admin_list_tit" >操作</td>
    </tr>
	 {#foreach from=$contacts item=list#}
    <tr>
      <td   class="admin_list admin_list_first">
	  <input name="id[]" type="checkbox"  value="{#$list.id#}" />
	  {#$list.fullname#}
	   </td>
      <td  class="admin_list">
	  {#$list.tel#}
	  {#if $list.tel#}
	    <a href="crm_sms.php?act=send&mobile={#$list.tel#}&url={#$url#}"><img src="images/sms.gif" border="0" title="发送短信" /></a>
	  {#/if#}	  </td>
	  <td  class="admin_list">
	  {#$list.email#}
	  {#if $list.email#}
	 <a href="crm_email.php?act=send&email={#$list.email#}&url={#$url#}"> <img src="images/email.gif" border="0" title="发送邮件" /></a>
	  {#/if#}
	  </td>
	 <td  class="admin_list">
	 {#if $list.group_id==0#}
	 --
	 {#else#}
	  {#$list.group_name#}
	  {#/if#}
	  </td>
      <td align="center"   class="admin_list">
	  <a href="?act=edit&id={#$list.id#}">修改</a> <a href="?act=contacts_del&id={#$list.id#}&{#$urltoken#}" onclick="return confirm('你确定要删除吗？')">删除</a>	  </td>
    </tr>
	 {#/foreach#}
  </table>
  </form>
  {#if !$contacts#}
<div class="admin_list_no_info">没有任何信息！</div>
{#/if#}
<table width="100%" border="0" cellspacing="10" cellpadding="0" class="admin_list_btm">
      <tr>
        <td>
<input type="button" class="admin_submit" id="ButAudit" value="添加联系人"  onclick="window.location='?act=add'"/>
<input type="button" class="admin_submit" id="ButDel" value="删除所选"/>
		</td>
        <td width="305" align="right">
		<form id="formseh" name="formseh" method="get" action="?">	
			<div class="seh">
			    <div class="keybox"><input name="key" type="text"   value="{#$smarty.get.key#}" /></div>
			    <div class="selbox">
					<input name="key_type_cn"  id="key_type_cn" type="text" value="{#$smarty.get.key_type_cn|default:"联系人"#}" readonly="true"/>
						<div>
								<input name="key_type" id="key_type" type="hidden" value="{#$smarty.get.key_type|default:"1"#}" />
												 
						</div>				
				</div>
				<div class="sbtbox">
				<input name="act" type="hidden" value="list" />
				<input type="submit" name="" class="sbt" id="sbt" value="搜索"/>
				</div>
				<div class="clear"></div>
		  </div>
		  </form>
		
	    </td>
      </tr>
  </table>
<div class="page link_bk">{#$page#}</div>
  
</div>
{#include file="sys/crm_footer.htm"#}
</body>
</html>