
	<div class="navs">
		<ul>
			<li class="selected">
				<a href="{#$QISHI.wap_domain#}">
					<div class="ico n1">
					
				</div>
				<h4>首页</h4>
				</a>
			</li>
			<li>
				<a href="{#$QISHI.wap_domain#}/jobs-list.php">
					<div class="ico n2">
					
				</div>
				<h4>工作</h4>
				</a>
			</li>
			<li>
				<a href="{#$QISHI.wap_domain#}/msssage">
					<div class="ico n3">
					
				</div>
				<h4>消息</h4>
				</a>
			</li>
			<li>
				<a href="{#$QISHI.wap_domain#}/login.php">
					<div class="ico n4">
					
				</div>
				<h4>我的</h4>
				</a>
			</li>
		</ul>
		
	</div>
