{#include file="sys/crm_header.htm"#}
<link href="css/date_input.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.date_input.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
//日期
	$(function() { 
	$(".date_input").date_input(); 
	}); 
}); 
</script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptit">客户基本信息   {#if $$myclient.company_url#}
		<a href="{#$myclient.company_url#}" target="_blank" style="color:#0066CC; ">[{#$myclient.companyname#}]</a>
		{#/if#}
		 &nbsp;
		  &nbsp;
		  客户所属：<span style="color:#FF0000">{#$myclient.admin.rank#}  &nbsp;帐号：{#$myclient.admin.admin_name#}</span>
  </div>
  <form id="form1" name="form1" method="post" action="?act=crm_client_save">
  {#$inputtoken#}
  <table width="100%" border="0" cellpadding="4" cellspacing="0"   >
    <tr>
      <td width="120" height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">客户名称： </td>
      <td  style=" border-bottom:1px #CCCCCC dashed" >
	  <input name="companyname" type="text" class="input_text_200" value="{#$myclient.companyname#}"  >	  </td>
      <td width="120" align="right"  style=" border-bottom:1px #CCCCCC dashed" >行业：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed" ><input name="trade_cn" type="text" class="input_text_200" value="{#$myclient.trade_cn#}"  ></td>
      <td align="right"  style=" border-bottom:1px #CCCCCC dashed" >公司规模：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed" ><input name="scale_cn" type="text" class="input_text_200" value="{#$myclient.scale_cn#}"></td>
    </tr>
    <tr>
      <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"  >所在地区：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed"  >
        <input name="district_cn" type="text" class="input_text_200" value="{#$myclient.district_cn#}">      </td>
      <td align="right" style=" border-bottom:1px #CCCCCC dashed"  >详细地址：</td>
      <td   style=" border-bottom:1px #CCCCCC dashed" ><input name="address" type="text" class="input_text_200" value="{#$myclient.address#}"  ></td>
      <td align="right"  style=" border-bottom:1px #CCCCCC dashed"  >网址：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed"  ><input name="website" type="text" class="input_text_200" value="{#$myclient.website#}"></td>
    </tr>
	<tr>
      <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed"   >联系人：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed"  ><input name="contact" type="text" class="input_text_200" value="{#$myclient.contact#}" /></td>
      <td align="right"  style=" border-bottom:1px #CCCCCC dashed" >联系电话：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed"  ><input name="telephone" type="text" class="input_text_200" value="{#$myclient.telephone#}">
	  {#if $myclient.telephone#}
	  <a href="crm_sms.php?act=send&mobile={#$myclient.telephone#}&url={#$url#}"><img src="images/sms.gif" border="0" title="发送短信" />
	  </a>
	  {#/if#}
	  </td>
      <td align="right"   style=" border-bottom:1px #CCCCCC dashed" >email：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed"  ><input name="email" type="text" class="input_text_200" value="{#$myclient.email#}" />
	  {#if $myclient.email#}
	 <a href="crm_email.php?act=send&email={#$myclient.email#}&url={#$url#}"> <img src="images/email.gif" border="0" title="发送邮件" /></a>
	  {#/if#}
	  </td>
	</tr>
	<tr>
      <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"  >登记时间：</td>
      <td colspan="5" style=" border-bottom:1px #CCCCCC dashed"   >{#$myclient.addtime|date_format:"%Y-%m-%d %H:%M"#}</td>
    </tr>

	<tr>
	  <td height="30" align="right"    >&nbsp;</td>
	  <td height="80" colspan="5"   >
	  
	  <input type="hidden" name="id"  value="{#$myclient.id#}" />
            <input type="hidden" name="url"  value="{#$url#}" />
            <input name="submit32" type="submit" class="admin_submit"    value="确定"/>
      <input name="submit222" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>	  </td>
    </tr>
  </table>
  </form>
  <div class="toptit">跟进客户</div>
	  <form id="form2" name="form2" method="post" action="?act=add_log">
	{#$inputtoken#}
	<table width="100%" border="0" cellpadding="4" cellspacing="0"   >
	
	  <tr>
        <td width="120" height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">最后跟进日期：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed;" >
		{#if $myclient.followtime#}
       {#$myclient.followtime|date_format:"%Y-%m-%d %H:%M"#}
	   {#else#}
	   从未跟进
	   {#/if#}
	   </td>
      </tr>
	  <tr>
        <td width="120" height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">下次更近日期：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed;" >
          <input name="nexttime" type="text" class="input_text_200 date_input" id="nexttime" maxlength="10" value=""  >  </td>
      </tr>
	  <tr>
        <td width="120" height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">写日志：</td>
        <td  style=" border-bottom:1px #CCCCCC dashed;" >
          <textarea name="client_log" class="input_text_400" style="height:60px;"></textarea>  </td>
      </tr>
      <tr>
        <td height="30" align="right"  >&nbsp;</td>
        <td height="50"  >
		<input type="hidden" name="id"  value="{#$myclient.id#}" />
            <input type="hidden" name="url"  value="{#$url#}" />
            <input name="submit32" type="submit" class="admin_submit"    value="保存"/>
          <input name="submit222" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/> 
        </td>
      </tr>
    </table>
  </form>
  {#if $myclient.log#}
  <div class="toptit">跟进日志</div>
	
	<div style=" height:100%; overflow: auto; height:150px; margin-bottom:20px;">
	<table width="95%" border="0" cellpadding="4" cellspacing="0"   >

	  {#foreach  from=$myclient.log item=l#}
      <tr>
        <td width="120" height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed; color:#FF6600">{#$l.addtime|date_format:"%Y-%m-%d %H:%M"#}</td>
        <td  style=" border-bottom:1px #CCCCCC dashed;" >{#$l.client_log#}</td>
      </tr>
	  {#/foreach#}
      </tr>
    </table>
	</div>

	{#/if#}
	
  <div class="toptit">客户详情</div>
	<form id="form3" name="form3" method="post" action="?act=details_save">
	{#$inputtoken#}
	  <table width="100%" border="0" cellpadding="4" cellspacing="0"   >
        <tr>
          <td width="120" height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">客户状态：</td>
          <td  style=" border-bottom:1px #CCCCCC dashed" >
		  <select name="status_id" style="font-size:12px;">
		  <option value="0" {#if $myclient.status_id=='0'#}selected="selected"{#/if#}>未知</option>
		   {#foreach  from=$category_status item=l#}
              <option value="{#$l.c_id#}" {#if $myclient.status_id==$l.c_id#}selected="selected"{#/if#}>{#$l.c_name#}</option>
			  {#/foreach#}
          </select>		  </td>
          <td width="120" align="right"  style=" border-bottom:1px #CCCCCC dashed" >
		  客户类型：		  </td>
          <td  style=" border-bottom:1px #CCCCCC dashed" >
		  <select name="type_id" style="font-size:12px;">
		  <option value="0" {#if $myclient.type_id=='0'#}selected="selected"{#/if#}>未知</option>
		   {#foreach  from=$category_type item=l#}
              <option value="{#$l.c_id#}" {#if $myclient.type_id==$l.c_id#}selected="selected"{#/if#}>{#$l.c_name#}</option>
			  {#/foreach#}
          </select>	
		  </td>
          <td width="120" align="right"  style=" border-bottom:1px #CCCCCC dashed" >信用等级：</td>
          <td width="30%"  style=" border-bottom:1px #CCCCCC dashed" >
		  <select name="trustworthiness_id" style="font-size:12px;">
		  <option value="0" {#if $myclient.trustworthiness_id=='0'#}selected="selected"{#/if#}>未知</option>
		   {#foreach  from=$category_trustworthiness item=l#}
              <option value="{#$l.c_id#}" {#if $myclient.trustworthiness_id==$l.c_id#}selected="selected"{#/if#}>{#$l.c_name#}</option>
			  {#/foreach#}
          </select>		  </td>
        </tr>
        <tr>
          <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"  >客户等级：</td>
          <td  style=" border-bottom:1px #CCCCCC dashed"  >
		  
		  <select name="grade_id" style="font-size:12px;">
		  <option value="0" {#if $myclient.grade_id=='0'#}selected="selected"{#/if#}>未知</option>
		   {#foreach  from=$category_grade item=l#}
              <option value="{#$l.c_id#}" {#if $myclient.grade_id==$l.c_id#}selected="selected"{#/if#}>{#$l.c_name#}</option>
			  {#/foreach#}
          </select>          </td>
          <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"  >客户来源：</td>
          <td  style=" border-bottom:1px #CCCCCC dashed"  >
		  
		  <select name="source_id" style="font-size:12px;">
		  <option value="0" {#if $myclient.source_id=='0'#}selected="selected"{#/if#}>未知</option>
		   {#foreach  from=$category_source item=l#}
              <option value="{#$l.c_id#}" {#if $myclient.source_id==$l.c_id#}selected="selected"{#/if#}>{#$l.c_name#}</option>
			  {#/foreach#}
          </select>          </td>
          <td  style=" border-bottom:1px #CCCCCC dashed"  >&nbsp;</td>
          <td  style=" border-bottom:1px #CCCCCC dashed"  >&nbsp;</td>
        </tr>
      </table>
	  <table width="100%" border="0" cellpadding="4" cellspacing="0"   >
        
        <tr>
          <td width="120" height="80" align="right"    >&nbsp;</td>
          <td height="80"   >
		  <input type="hidden" name="id"  value="{#$myclient.id#}" />
            <input type="hidden" name="url"  value="{#$url#}" />
            <input name="submit32" type="submit" class="admin_submit"    value="保存"/>
          <input name="submit222" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>            </td>
        </tr>
      </table>
	</form>
	<div class="toptit">财务信息</div>
	 <form id="form4" name="form4" method="post" action="?act=financial_save">
	 {#$inputtoken#}
	<table width="100%" border="0" cellpadding="4" cellspacing="0"   >
    <tr>
      <td width="120" height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed">开户行：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed" >
	  <input name="client_bank" type="text" class="input_text_400" value="{#$myclient.financial.client_bank#}"  >	  </td>
      </tr>
    <tr>
      <td height="30" align="right"  style=" border-bottom:1px #CCCCCC dashed"  >开户帐号：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed"  >
        <input name="client_bank_acc" type="text" class="input_text_400" value="{#$myclient.financial.client_bank_acc#}">      </td>
      </tr>
	<tr>
      <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed"   >其他：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed"  >
	  <textarea name="client_note" class="input_text_400" style="height:60px;">{#$myclient.financial.client_note#}</textarea>
	  </td>
      </tr>
  </table>
  <table width="100%" border="0" cellpadding="4" cellspacing="0"   >
	<tr>
	  <td width="120" height="30" align="right"    >&nbsp;</td>
	  <td   >
	  
	  <input type="hidden" name="id"  value="{#$myclient.id#}" />
            <input type="hidden" name="url"  value="{#$url#}" />
            <input name="submit32" type="submit" class="admin_submit"    value="保存"/>
      <input name="submit222" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>	  </td>
    </tr>
  </table>
  </form>
  	<div class="toptit">客户需求</div>
	 <form id="form5" name="form5" method="post" action="?act=demand_save">
	 {#$inputtoken#}
	<table width="100%" border="0" cellpadding="4" cellspacing="0"   >
	<tr>
      <td width="120" height="30" align="right" style=" border-bottom:1px #CCCCCC dashed"   >客户需求：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed"  >
	  <textarea name="client_other" class="input_text_400" style="height:60px;">{#$myclient.demand.client_other#}</textarea>	  </td>
      </tr>
  </table>
  <table width="100%" border="0" cellpadding="4" cellspacing="0"   >
	<tr>
	  <td width="120" height="30" align="right"    >&nbsp;</td>
	  <td   >
	  
	  <input type="hidden" name="id"  value="{#$myclient.id#}" />
            <input type="hidden" name="url"  value="{#$url#}" />
            <input name="submit32" type="submit" class="admin_submit"    value="保存"/>
      <input name="submit222" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>	  </td>
    </tr>
  </table>
  </form>
  <div class="toptit">备注</div>
	 <form id="form6" name="form6" method="post" action="?act=other_save">
	 {#$inputtoken#}
	<table width="100%" border="0" cellpadding="4" cellspacing="0"   >
	<tr>
      <td width="120" height="30" align="right" style=" border-bottom:1px #CCCCCC dashed"   >备注：</td>
      <td  style=" border-bottom:1px #CCCCCC dashed"  >
	  <textarea name="client_other" class="input_text_400" style="height:60px;">{#$myclient.other.client_other#}</textarea>	  </td>
      </tr>
  </table>
  <table width="100%" border="0" cellpadding="4" cellspacing="0"   >
	<tr>
	  <td width="120" height="30" align="right"    >&nbsp;</td>
	  <td   >
	  
	  <input type="hidden" name="id"  value="{#$myclient.id#}" />
            <input type="hidden" name="url"  value="{#$url#}" />
            <input name="submit32" type="submit" class="admin_submit"    value="保存"/>
      <input name="submit222" type="button" class="admin_submit"    value="返 回" onclick="Javascript:window.history.go(-1)"/>	  </td>
    </tr>
  </table>
  </form>
</div>
{#include file="sys/crm_footer.htm"#}
</body>
</html>