{#include file="sys/crm_header.htm"#}
<script  charset="utf-8" src="kindeditor/kindeditor.js"></script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="business_dairy/crm_business_dairy_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptit">添加业务日记</div>
  <form action="?act=addsave" method="post" enctype="multipart/form-data" name="FormData" id="FormData" >
  {#$inputtoken#}
    <table width="100%" border="0" cellpadding="3" cellspacing="0" class="admin_table">
      <tr>
        <td width="67" align="right" style="border:0px" >标题：</td>
        <td style="border:0px">
		<input name="title" type="text"  class="input_text_400" maxlength="45"/>		</td>
      </tr>
      <tr>
        <td align="right" valign="top" >内容：</td>
        <td ><table width="700" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="100" ><textarea id="content" name="content" style="width:700px;height:300px;visibility:hidden;"></textarea>
         <script>
			KE.show({
				id : 'content',
				shadowMode : false,
				autoSetDataMode: false,
				allowPreviewEmoticons : false,
				//skinType : 'tinymce',
				urlType : '',
				//allowFileManager : true,
				afterCreate : function(id) {
					KE.event.add(KE.$('FormData'), 'submit', function() {
						KE.util.setData(id);
					});
				}
			});
		</script></td>
      </tr>
      <tr>
        <td height="50" align="center" ><input type="submit" name="Submit" value="确定提交" class="admin_submit"   />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="reset" name="Submit2" value="重置表单" class="admin_submit"   /></td>
      </tr>
    </table></td>
      </tr>
    </table>
    
  </form>
</div>
{#include file="sys/crm_footer.htm"#}
</body>
</html>